@charset "utf-8";
*
{
	font-family: "Microsoft Yahei";
}
.btn-theme{
	background-color: #14965A;
	color: #fff;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme.focus,.btn-theme:active,.btn-theme.active,.open>.dropdown-toggle.btn-theme{
	color:#fff;
	background-color:#16C172;
}
input[type=radio], input[type=checkbox]{
	width: 20px;
    height: 16px;
}
input[disabled]{
	color: #d2d2d2!important;
	cursor: not-allowed!important
}
h3{
	font-size: 24px;
	margin-top: 20px;
    margin-bottom: 10px;
}
.red,.red *{color:red}
.cb
{
	clear:both;
}
.center
{
	text-align:center !important;
}
.cgray
{
	color:#999
}
.fwn
{
	font-weight:normal;
}

#login_body
{
}
#login_body #header
{
	background-color: #14965A;
}
#login_body #header .logo
{
	width: 200px;
	padding-top: 12%;
	padding-bottom:10px;
	margin-right: auto;
	margin-left: auto;
}
#login_body #content_login
{
	margin: auto;
	margin-top: 30px;
	width: 284px;
}
#content_login form
{

}
#content_login form .item
{
	height:40px;
	line-height: 40px;
	padding-left:4em;
}
#content_login form .item .name
{
	width:4em;
	display:inline-block;
	float:left;
	margin-left:-4em;
}
#content_login form .item .remember
{
	width:8em;
}
#content_login form .item .control
{
	float:right;
	width:100%;
}
#content_login form .item .vcode
{
	display: inline-block;
	float: right;
	margin-top: 5px;
}
#content_login form .item img
{
	height:30px;
	width:80px;
}
#content_login form #button_login
{
	padding:0 32px;
	font-size: 1.2em;
	float: right;
	font-weight: bold;
	height:38px;
}
/*admin*/
#admin,#admin body,#admin #body{
	/*min-height:100%;*/
	/*height:100%;*/
}
#admin body{
	background-color:#f6f6f6;
}
#admin #header
{
	background-color: #32323C;
}
#admin #header .navbar-collapse a{
	color:#fff
}
#admin #header .navbar-collapse a:hover{
	color:#e1e1e1;
	background:rgba(255,255,255,0.15);
}
#admin #header .left-menu-toggle{
	color: #fff;
    font-size: 2.2rem;
    margin: 0;
    float: left;
    width: 48px;
    padding: 0;
    top: 10px;
}
#admin .wrap
{
	width:100%;
	height:100%;
	overflow:hidden
}
#admin #left_nav
{
	background-color: #32323C;
	float: left;
	height: 100%;
	width: 240px;
	top: 0;
	left: 0;
	position: fixed;
	transition: left 0.5s ease;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
	padding-top: 50px;
    padding-bottom: 24px;
	z-index:1000;
}
#admin #left_nav .left_wrap
{
	border-top-width: 6px;
	border-top-style: solid;
	border-top-color: #14965A;
	overflow-y: auto;
    height: 100%;
}
#admin #left_nav .left_wrap::-webkit-scrollbar-track{
	background:#32323C
}
#admin #left_nav .left_wrap::-webkit-scrollbar-thumb{
	background-color:#46464F
}
#admin #left_nav .copyright{
    color: #fff;
    text-align: center;
    line-height: 24px;
	background: rgba(255,255,255,0.1)
}
#admin #left_nav a i.ico_edit{background-image: url(../images/edit.png);}
#admin #left_nav a i.ico_article{background-image: url(../images/article.png);}
#admin #left_nav a i.ico_category{background-image: url(../images/category.png);}
#admin #left_nav a i.ico_page{background-image: url(../images/page.png);}
#admin #left_nav a i.ico_comment{background-image: url(../images/comment.png);}
#admin #left_nav a i.ico_plugin{background-image: url(../images/plugin.png);}
#admin #left_nav a i.ico_tag{background-image: url(../images/tag.png);}
#admin #left_nav a i.ico_theme{background-image: url(../images/theme.png);}
#admin #left_nav a i.ico_user{background-image: url(../images/user.png);}
#admin #left_nav a i.ico_setting{background-image: url(../images/setting.png);}
#admin #left_nav a:hover i
{
	-webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}
#admin #left_nav a.on
{
	background-color:#14965A
}
#admin #left_nav p
{
	color:#fff;
	font-size:0.9em;
	text-align:center;
	bottom: 0;
	position: absolute;
	width: 100%;
	margin-bottom:4px;
}
#admin #body
{
	padding-left: 240px;
	width: 100%;
    padding-top: 50px;
	position: absolute;
	transition: left 0.5s ease;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
	font-size: 0;
	height:100%;
}
#admin #body_content{
	padding:10px 20px 20px 20px
}
#admin #body_content .nav_small
{
	background: #eee;
	padding: 0 10px;
}
#admin #body_content .nav_small a
{
	height:40px;
	line-height:40px;
	padding:0 20px;
	display:inline-block;
	color:#333;
	text-decoration:none;
}
#admin #body_content .nav_small a.on
{
	color:#fff;
	background-color:#14965A
}
#admin #body_content .nav_small a:hover
{
	text-decoration:none;
}
#admin .table tr
{
	background-color: #fff;
	color: #686868;
}
#admin .table tbody tr:nth-child(2n)
{
	background-color: #f4f4f4;
}
#admin .table tbody tr:hover
{
	background-color:#e5fde1
}
#admin .table th,#admin #body_content .table td
{
	color: #333;
	padding: 10px;
	text-align:left;
}
#admin .table th > input[type=checkbox]
{
	vertical-align: sub;
}
#admin .table th{
	color: #fff;
	background-color: #353535;
}
a
{
	color:#14965A;
	text-decoration:none;
}
a:hover
{
	text-decoration:underline;
}
#admin #body_content .toolbar
{
	margin-bottom:8px
}
#admin #body_content .toolbar .panel-body{
	padding:12px
}
#admin #body_content .toolbar form
{
	display:inline
}
#admin #body_content .toolbar a.on
{
	color:#333;
	font-weight:bold;
}
#admin #body_content .body
{
	margin-right: 320px;
}
#admin #body_content .left_content
{
	float:left;
	width:100%;
	margin-top:12px;
}
#admin #body_content .right_content
{
	width:300px;
	float:right;
	margin-top:12px;
	margin-right:-320px
}
#admin #body_content .right_content .item select
{
	padding: 3px 4px;
}
#admin #body_content .body .item
{
	margin-bottom:14px;
}

#admin #body_content .body .item .title
{
	font-weight:bold;
	padding-bottom:4px;
	display: inline-block;
	margin-right:4px;
	font-size:1em
}
#admin #body_content .body .item .title b
{
	font-weight:normal;
	font-size:0.9em;
	color:#666
}
#header .userinfo i
{
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 4px;
	top: 2px;
	position: relative;
}
.logout
{
	background-image: url(../images/logout.png);
}
.profile
{
	background-image: url(../images/profile.png);
}
.home
{
	background-image: url(../images/home.png);
}
.title{font-size: 1.2em;padding-bottom: 20px;}
.shortcuts{padding-bottom:10px;line-height: 36px;}
.shortcuts form{display:inline}
.shortcuts select{width:auto}
.shortcuts a.on{color: #333;
				font-weight: bold;}
#admin #body_content .wrap {
	width: auto;
	height: auto;
	overflow: visible;
}
.msg{padding-bottom:4px}
.msg ul{list-style:none;color:#333;}
.msg li{line-height:2.2em;padding-left:10px;background-repeat: no-repeat;background-position: 4px center;padding-left: 32px;display:none}
.msg li.ok{background-color: #60D4A8;color: #026540;background-image:url(../images/msg-ok.png)}
.msg li.error{background-color: #FF7373;color: #A60000;background-image:url(../images/msg-error.png)}
.msg li.warning{background-color: #FFE28A;color: #FF4B0F;background-image:url(../images/msg-warning.png)}
#article_status_panel .on{color:#333 !important}
.comment_table tr{vertical-align: initial;}
.list_theme{}
.list_theme li{display:block;float:left;width:228px;height:230px;margin-right:10px;padding:10px;margin-bottom:10px;border: 1px solid #dedede;background:#eee}
.list_theme li:hover{background-color:rgba(0,0,0,0.1)}
.list_theme li a{color:#149418 !important}
.list_theme h3{line-height:2.5em;font-size: 0.95em;}
.list_theme .theme_item_thumb{height: 140px;background: #fff;  position: relative;}
.list_theme .theme_item_thumb > .des{
	position: absolute;
	right: 0;
	top: 0;
	color: #fff;
	font-size: 0.8em;
	padding: 2px 4px;
}
.list_theme .theme_item_thumb > .des.pc{background:#4400cc}
.list_theme .theme_item_thumb > .des.mobile{background:#950000}
.list_theme .theme_item_thumb > .des.auto{background:#ff6600}
.list_theme .theme_item_thumb img{width:100%;max-height: 140px;}
.list_theme .theme_item_buttom{line-height:3em;text-align:center}
.list_theme .theme_item_buttom button{padding:6px 30px;vertical-align: bottom;}
.tab {
	position: relative;
}
.tab li {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	text-align: center;
	color: #14965A;
	font-size:0.85em;
	padding:0px 8px
}
.tab li.on {
	font-weight:bold;
	background-color: #353535;
	color:#fff
}
.setting .table td{border:1px solid rgb(225,225,225) !important}
.setting .table input[type=text]{width:500px !important}
.setting .table textarea{width:490px !important;height:150px;}
.setting .tab li.fr{  position: absolute;
					  right: 0;
					  padding: 0;
					  top: -4px;}
.laydate-icon{
    height: inherit !important;
    line-height: inherit !important;
}
.navbar-brand{
	padding:0;
	width: 240px;
}
@media screen and (max-width: 767px)
{
	#admin #body_content {
		padding: 5px 10px 10px 10px;
	}
	#admin #left_nav{
		left:-240px
	}
	#admin #body{
		padding-left:0
	}
	.navbar-header {
		text-align: center;
		height: 50px;
	}
	.navbar-brand {
		float:none;
		display:inline-block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		width:200px;
	}
	#left_nav.show-item{
		left:0 !important;
	}
}
.btn-sm{
	font-size: 1.6rem;
	padding: 0 4px;
	background: none;
    outline: none;
}
.btn-sm[disabled]{
	color:gray
}
.btn-sm:hover{
	text-decoration: none
}
.btn-sm-delete,.btn-sm-delete:focus{
	color: red;
}
.btn-sm-delete:hover{
	color: #F96767;
}
.btn-sm-edit,.btn-sm-edit:focus{
	color: #428bca;
}
.btn-sm-edit:hover{
	color: #46b8da;
}
.btn-sm-refresh,.btn-sm-refresh:focus{
	color: #00CC6A;
}
.btn-sm-refresh:hover{
	color: #3BF99E;
}
.btn-sm-select,.btn-sm-select:focus{
	color: #00CC6A;
}
.btn-sm-select:hover{
	color: #3BF99E;
}
.btn-sm-manage,.btn-sm-manage:focus{
	color: #333;
}
.btn-sm-manage:hover{
	color: #888;
}
.btn-sm-option,.btn-sm-option:focus{
	color: #333;
}
.btn-sm-option:hover{
	color: #888;
}
.btn-sm-start,.btn-sm-start:focus{
	color: green;
}
.btn-sm-start:hover{
	color: greenyellow;
}
.btn-sm-stop,.btn-sm-stop:focus{
	color: red;
}
.btn-sm-stop:hover{
	color: #F96767;
}
.btn-add i,.btn-add:focus i{
	color:green;
}
.btn-delete i,.btn-delete:focus i{
	color:red;
}
.btn-move i,.btn-move:focus i{
	color:orange;
}
.button-group-bar{
	margin:4px 0;
}
.button-group-bar .layui-form-item,.button-group-bar .layui-form-label{
	margin-bottom:0
}
.button-group-bar .layui-form-item{
	display:inline-block
}
.button-group-bar .layui-form-item .layui-input-inline:last-child{
	margin-right:0
}
.button-group-bar .layui-form-item .layui-input-inline{
	width:inherit
}
@media screen and (max-width: 450px)
{
	.button-group-bar > .pull-left{
		margin-bottom:6px
	}
	.button-group-bar .layui-form-item > .layui-input-inline{
		margin-left:0
	}
}
.menu-list a{
    display:block;
    padding:12px 20px 12px 10px;
    text-decoration: none;
}
.menu-list a .item-name{
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}
.menu-list a:hover{
    background-color:#FFF;
}
.menu-list > li > a{
	color:#fff;
	border-bottom:1px solid #46464F;
}
.menu-list > li > a .item-name{
    width: 138px;
}
.menu-list > li a:hover
{
	background-color:rgb(69,69,78);
	background-color:rgba(255,255,255,0.1);
}
.menu-list > li.active > a{
    background-color:#14965A;
    font-weight:bold;
}
.menu-list a > i:first-child{
    width: 32px;
    height: 32px;
    display: inline-block;
	top: -6px;
    position: relative;
    margin-right:10px;
    background-size: cover;
    float: left;
	-webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    -ms-transition: -ms-transform 0.5s ease-out;
}
.menu-list > li > a > i.chevron{
    position: relative;
    top: 3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #FFF;
}
.menu-list > li > a > i.chevron:before{
    content: "\e080";
}
.menu-list > li.active > a > i.chevron:before{
    content: "\e114";
}
.menu-list a:hover > i.chevron,.menu-list li.active a > i.chevron{
    color: #FFF;
}
.menu-list a > i.chevron{
    float: right;
    top: 2px;
    margin-left: 4px;
}
.menu-list .sub-list{
    display:none;
	width:100%;
}
.menu-list .sub-list li a{
    padding: 8px 10px 8px 30px;
	border-bottom:1px solid #46464F;
	border-left: 6px solid transparent;
}
.menu-list .sub-list li.active a{
	font-weight:bold;
	color:#00CC6A;
	border-left-color: #00CC6A;
}
.menu-list .sub-list li.active a:hover{
	background:transparent
}
.menu-list .sub-list a > i:first-child{
    margin-right:4px
}
.sub-list > li > a{
	color:#FFF
}
.sub-list > li > a .item-name{
    width: 124px;
}
body#popup{
	/*padding:10px*/
	padding: 10px 0;
}
.layui-form-label{
	box-sizing: content-box;
}
.layui-form-select ul{
	margin-bottom:0
}
.image-view-box{
	background-repeat: no-repeat;
	background-position:  center center;
    background-size: contain;
}
.image-view-box.image-view-orign{
    background-size:initial;
}
.site-query-box{
	cursor:pointer
}
.layui-form-select ul{
	z-index:999999
}
.layui-tab-card>.layui-tab-title .layui-this{
	color:#396
}
.table-toolbar .input-group-addon{
	border: 1px solid #e6e6e6;
    background-color: #FBFBFB;
	border-right:none;
}
.table-toolbar > form{
	margin-bottom:4px;
	/*overflow:auto;*/
}
.table-toolbar .form-group{
	margin-bottom:4px;
	max-width: 200px;
}
@media screen and (max-width: 767px)
{
	.table-toolbar .form-group{
		max-width: none;
	}
}
a.layui-btn:hover{
	text-decoration: none;
}
input[type="datetime-local"].layui-input,input[type="date"].layui-input{
	display:inline-flex
}
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: none;
}
.table{
	table-layout:fixed;
}
.nowrap{
	white-space: nowrap;
}
#admin .table th, #admin #body_content .table td{
	word-wrap:break-word;
}
.layui-input-block .layui-form-checkbox{
	margin-bottom:0
}