<?php defined('YB_VERSION') or exit;?>
<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<h1>
				<a class="navbar-brand" href="__WEBROOT__">
					<CONFIG:@.SYSTEM_NAME>
					<!--<img alt="YurunBlog" src="这里支持放Logo图片">-->
				</a>
			</h1>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li<if condition="'Index' === __DYNAMIC_CONTROL__ && 'index' === __DYNAMIC_ACTION__"> class="active"</if>><a href="__WEBROOT__">首页</a></li>
				<foreach list="$categorys">
					<li<if condition="
					('Article' === __DYNAMIC_CONTROL__ && 'list' === __DYNAMIC_ACTION__ && $categoryInfo['ID'] === $value['ID'])
					||
					('Article' === __DYNAMIC_CONTROL__ && 'view' === __DYNAMIC_ACTION__ && $articleInfo['CategoryID'] === $value['ID'])
					"> class="active"</if>><a href="<%=$value['Url']%>"><%=$value['Name']%></a></li>
				</foreach>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!--<li><a href="about.html">关于</a></li>-->
			</ul>
		</div>
	</div>
</nav>