<?php defined('YB_VERSION') or exit;?>
<css src="__STATIC__/plugin/bootstrap/css/bootstrap.min.css"/>
<css src="__STATIC__/plugin/layui/css/layui.css"/>
<css src="__WEBROOT__/Template/Default/css/style.css"/>
<js src="__STATIC__/plugin/jquery/jquery-1.12.0.min.js"/>
<js src="__STATIC__/plugin/jquery/jQuery.md5.js"/>
<js src="__STATIC__/plugin/bootstrap/js/bootstrap.min.js"/>
<js src="__STATIC__/plugin/layui/layui.js"/>
<js src="__STATIC__/plugin/layui/lay/dest/layui.all.js"/>
<js src="__WEBROOT__/Template/Default/js/Default.js"/>