<div id="right-box">
	<div class="layui-tab layui-tab-brief">
		<ul class="layui-tab-title">
			<li class="layui-this">最新文章</li>
		</ul>
		<div class="layui-tab-content">
			<ul class="article-list-text">
				<foreach list="$rightNewest">
				<li>
					<span class="before-title">[<%=date('m/d',strtotime($value['UpdateTime']))%>]</span><a href="<%=$value['Url']%>" target="_blank"><%=$value['Title']%></a>
				<li>
				</foreach>
			</ul>
		</div>
		<ul class="layui-tab-title">
			<li class="layui-this">最新评论</li>
		</ul>
		<div class="layui-tab-content">
			<ul class="comment-list-text">
				<foreach list="$newestComments">
				<li>
					<span class="before-title"><%=$value['Name']%>：</span><a href="<%=$value['ExContent']['Url']%>#comment-<%=$value['ID']%>" target="_blank"><%=$value['Content']%></a>
				<li>
				</foreach>
			</ul>
		</div>
	</div>
</div>