	<div id="left_nav">
		<div class="left_wrap">
			<ul class="list-group menu-list">
				<li>
					<a href="<url='Admin/Article/manage'/>" target="content_body"><i class="ico_article"></i>文章管理</a>
				</li>
				<li>
					<a href="<url='Admin/Category/manage'/>" target="content_body"><i class="ico_category"></i>分类管理</a>
				</li>
				<li>
					<a href="<url='Admin/Page/manage'/>" target="content_body"><i class="ico_page"></i>页面管理</a>
				</li>
				<li>
					<a href="<url='Admin/Comment/manage'/>" target="content_body"><i class="ico_comment"></i>评论管理</a>
				</li>
				<li>
					<a href="<url='Admin/Tag/list'/>" target="content_body"><i class="ico_tag"></i>标签管理</a>
				</li>
				<li>
					<a href="javascript:layer.alert('正在玩命开发中……',{icon:6});" target="content_body"><i class="ico_theme"></i>主题模版(开发中)</a>
				</li>
				<li>
					<a href="javascript:;"><i class="ico_setting"></i>系统管理(开发中)<i class="chevron"></i></a>
					<ul class="sub-list">
						<li><a href="javascript:layer.alert('正在玩命开发中……',{icon:6})" target="content_body"><span class="item-name">系统设置</span></a></li>
						<li><a href="javascript:layer.alert('正在玩命开发中……',{icon:6})" target="content_body"><span class="item-name">用户管理</span></a></li>
						<li><a href="javascript:layer.alert('正在玩命开发中……',{icon:6})" target="content_body"><span class="item-name">缓存管理</span></a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="copyright">YurunBlog <%=YB_VERSION%>&nbsp;<%=YB_VERSION_STAGE%></div>
	</div>