<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<css src="__STATIC__/plugin/bootstrap/css/bootstrap.min.css"/>
<css src="__STATIC__/plugin/layui/css/layui.css"/>
<css src="__STATIC__/admin/css/style.css"/>
<js src="__STATIC__/plugin/jquery/jquery-1.12.0.min.js"/>
<js src="__STATIC__/plugin/jquery/jQuery.md5.js"/>
<js src="__STATIC__/plugin/bootstrap/js/bootstrap.min.js"/>
<js src="__STATIC__/plugin/layui/layui.js"/>
<js src="__STATIC__/plugin/layui/lay/dest/layui.all.js"/>
<js src="__STATIC__/js/common.js"/>
<js src="__STATIC__/plugin/muiltline-items.js"/>
<js src="__STATIC__/plugin/download.js"/>
<js src="__STATIC__/admin/js/admin.js"/>
<js src="__STATIC__/admin/js/curd.js"/>